.ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredient h3 {
  text-align: center;
}

.price {
  display: flex;
  align-items: center;
  gap: 9px;
}

.link {
  text-decoration: none;
}