.elements {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 236px);
}

.burger {
  overflow-y: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: flex-end;
  height: 100%;
  justify-items: center;
}

.list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.list li {
  display: flex;
  gap: 8px;
  align-items: center;
}

.container {
  margin-bottom: 52px;
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.count {
  display: flex;
  align-items: center;
  gap: 10px;
}

.count svg {
  width: 32px;
  height: 32px;
}
