.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  align-self: baseline;
}

.table {
  display: flex;
  gap: 20px;
}

.tableItem {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}