.order {
  border-radius: 40px;
  background: #1C1C21;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 0px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
}

.orderTitle {
  grid-column-start: 1;
  grid-column-end: 3;
}

.ingredients {
  display: flex;
}

.ingredient {
  padding: 2px;
  border-radius: 100px;
  background:  #131316;
  background: linear-gradient(45deg, #801AB2 0%, #4C4CFF 100%);
}

.ingredient div {
  background:  #131316;
  border-radius: 100px;
}

.total {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
}

.status {
  grid-column-start: 1;
  grid-column-end: 3;
}